<mat-form-field [ngStyle]="style()" [ngClass]="class()">
  <mat-label>{{ label() }}</mat-label>
  <input
    matInput
    [class.is-invalid]="control.invalid && control.touched"
    [type]="type()"
    class="form-control"
    [formControl]="control"
    placeholder="{{ label() }}"
    (blur)="onTouched()"
    [value]="value"
    (input)="onChange($any($event.target).value)"
  />
  <!--Required validation-->
  @if (control.hasError('required')) {
  <mat-error> {{ label() }} is required. </mat-error>
  }
  <!--Minimum length validation-->
  @if (control.hasError('minlength')) {
  <mat-error>
    {{ label() }} must be at least
    {{control.errors?.['minlength'].requiredLength}} characters long.
  </mat-error>
  }
  <!--Maximum length validation-->
  @if (control.hasError('maxlength')) {
  <mat-error>
    {{ label() }} must be at most
    {{control.errors?.['maxlength'].requiredLength}} characters long.</mat-error
  >
  }
</mat-form-field>
