.form-control,
.form-select {
  border: 2px solid #7d7b73;
  border-radius: 0.4rem;
  color: #333;
  font-size: 0.8rem;
  transition: all 0.2s ease-in-out;
}

.form-control:hover,
.form-select:hover {
  border-color: #222323;
  box-shadow: 0 0 6px rgba(157, 147, 115, 0.4);
  cursor: pointer;
}

.form-select:focus,
.form-control:focus {
  border-color: #222323;
  box-shadow: 0 0 8px rgba(157, 147, 115, 0.4);
  outline: auto;
}

label {
  color: #333333af;
  font-weight: bold;
}
button {
    width: 6rem !important;
    font-size: 0.8rem !important;
    font-weight: bold !important;
    text-align: center !important;
}