/* html {
  font-size: 14px;
} */
@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 0.6rem !important;
  }
}
.form-control,
.form-select {
  border: 2px solid #7d7b73;
  border-radius: 0.4rem;
  color: #333;
  font-size: 0.8rem;
  transition: all 0.2s ease-in-out;
}

.form-control:hover,
.form-select:hover,
.form-check-input:hover {
  border-color: #222323;
  box-shadow: 0 0 6px rgba(157, 147, 115, 0.4);
  cursor: pointer;
}

.form-select:focus,
.form-control:focus ,.form-check-input:focus {
  border-color: #222323;
  box-shadow: 0 0 8px rgba(157, 147, 115, 0.4);
  outline: auto;
}

label {
  color: #333333af;
  font-weight: bold;
}
button ,a {
  /* min-width: 6rem !important; */
  font-size: 0.8rem !important;
  font-weight: bold !important;
  text-align: center !important;
}

/* Base styles for both radio and checkbox */
input[type="radio"].form-check-input,
input[type="checkbox"].form-check-input {
  width: 20px;
  height: 20px;
  border: 2px solid #333;
  border-radius: 50%; 
  background-color: white;
  cursor: pointer;
  position: relative;
  appearance: none; /* hide default browser styles */
}

/* Override shape for checkbox */
input[type="checkbox"].form-check-input {
  border-radius: 4px;
}

/* Checked state for radio */
input[type="radio"].form-check-input:checked::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 10px;
  height: 10px;
  background-color: #333;
  border-radius: 50%;
}

/* Checked state for checkbox */
input[type="checkbox"].form-check-input:checked::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 6px;
  width: 6px;
  height: 12px;
  border: solid #333;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/* Focus and checked styles */
input[type="radio"].form-check-input:focus,
input[type="radio"].form-check-input:checked,
input[type="checkbox"].form-check-input:focus,
input[type="checkbox"].form-check-input:checked {
  box-shadow: none;
  border-color: inherit;
  outline: none;
}
/* Table styles */
table{
  width: 100%;
  table-layout: auto;
}