.heading {
  background-color: rgba(65, 60, 60, 0.658);
  border-radius: 0.1rem;
  border-left: 8px solid rgba(27, 26, 26, 0.645);
  transition: transform 0.9s ease-in-out;
}

.heading:hover {
  background-color: rgba(65, 60, 60, 0.8);
  cursor: pointer;
  border-left: 8px solid rgb(27, 26, 26);
}

.heading-sub {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: rgb(90, 76, 76);
}

.heading-title {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #e5dcdc;
  transition: transform 0.9s ease-in-out;
}

.heading-title:hover {
    color: white;
    transform: translateX(4px);
}