<mat-form-field [ngClass]="class()" [ngStyle]="style()" appearance="fill">
  <mat-label>{{ label() }}</mat-label>
  <input
    matInput
    [matDatepicker]="picker"
    [class.is-invalid]="control.invalid && control.touched"
    [formControl]="control"
    placeholder="{{ label() }}"
    [max]="maxDate()"
    [min]="minDate()"
    (blur)="onTouched()"
  />
  <mat-datepicker-toggle matIconSuffix [for]="picker">
    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
  </mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
  <mat-hint>MM/DD/YYYY</mat-hint>
  @if (control.hasError('required')) {
  <mat-error> {{ label() }} is required. </mat-error>
  }
</mat-form-field>
