header {
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem !important;
  padding: 1.5rem 10%;
  background-color: #025752;
}

ul {
  list-style-type: none;
}

.active-border {
  color: white;
  text-decoration: none;
  font-weight: bold;
  background-color: black !important;
}

header nav ul {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  padding: 0;
  margin: 0;
}

a {
  font-size: 1.2rem !important;
  color: white;
  font-weight: bold;
}

a:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  transform: scale(1.09);
  transition: 0.5s ease-in-out;
}

.off-screen-menu {
  background-color: #025752;
  height: 100dvh;
  width: 100%;
  max-width: 250px;
  position: fixed;
  top: 0;
  right: -250px;
  flex-direction: column;
  justify-content: start;
  text-align: start;
  font-size: 3rem;
  transition: 0.3s ease;
  z-index: 10;
}

.off-screen-menu.active {
  right: 0;
}

.ham-menu {
  display: none;
  height: 50px;
  width: 50px;
  margin-left: auto;
  position: relative;
  z-index: 10;
}

.ham-menu span {
  height: 5px;
  width: 100%;
  background-color: gray;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
}

.ham-menu span:nth-child(1) {
  top: 25%;
}

.ham-menu span:nth-child(3) {
  top: 75%;
}

.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
  opacity: 0;
}

.ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.ham-menu,
.off-screen-menu {
  display: none;
}

@media (max-width: 768px) {
  header {
    display: none;
  }

  .ham-menu {
    display: block;
  }

  .off-screen-menu {
    display: flex;
  }
}

@media (max-width: 1280px) {
    header nav ul {
        gap: 0.4rem
    }

    .btn {
        font-size: 0.8rem;
    }
}